body {
    font-family: 'Comfortaa';font-size: 22px;
    background-color: #E0BBE4;
    padding: 0;
    margin: 0;
}

.hero {
    padding: 8% 16%;
}

.gal {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left;
  background-size: cover;
  position: relative;
}
.gal h1 {
  position: absolute;
  top: 5rem;
  left: 50%;
  font-size: calc(1.5rem + 1vw);
  color: var(--color-primary);
  transform: translateX(-50%);
  text-shadow: 0.2rem 0.1rem 0.2rem var(--color-secondary);
}
.gal h1::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0.25em;
  left: 105%;
    background-size: cover;
  background-position: center;
}
.gal-big {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 179, 150, 0.5);
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;
}
.gal-big img {
  aspect-ratio: 3.5/4;
  width: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 400px) {
  .gal-big img {
    width: 32rem;
  }
}
@media screen and (min-width: 800px) {
  .gal-big img {
    width: 40rem;
  }
}
.gal-box {
  position: relative;
  height: 25rem;
  width: 20rem;
  transform-style: preserve-3d;
  transform: translateZ(0);
  animation: rotate3D 70s linear infinite;
}
.gal-box span {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.gal-box span img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform-style: preserve-3d;
}

@keyframes rotate3D {
  from {
    transform: perspective(3000px) rotateY(0deg);
  }
  to {
    transform: perspective(3000px) rotateY(360deg);
  }
}
.show-galbig {
  display: flex;
}

.in-container {
    display: inline-block;
}

.in-container .hey{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    border-right: 5px solid;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation:
            typing 2s steps(13),
            cursor .4s step-end infinite alternate;
    animation-fill-mode: forwards ;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0;}
    to {width: 100%; border-color: transparent;}
}

.in-container .hap{
    font-weight: 900;
    letter-spacing: 1px;
    border-right: 5px solid;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    
    animation:
            typing 2s steps(14),
            cursor .4s step-end infinite alternate;
    animation-delay: 2s;
    animation-fill-mode: forwards ;
    color: #ffffff;
    font-size: 110px;
    letter-spacing: 3px;
    margin-block-start: 60px;
    margin-block-end: 60px;
}

.in-container .i{
    font-weight: 900;
    border-right: 5px solid;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation:
            typing 6s steps(63),
            cursor .4s step-end infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: forwards ;
    font-size: 25px;
}

.in-container .so{
    font-weight: 900;
    border-right: 5px solid;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation:
            typing 3s steps(30),
            cursor .4s step-end infinite alternate;
    animation-delay: 10s;
    animation-fill-mode: forwards ;
    font-size: 25px;
}


.trans-p-c {
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(224, 187, 228), rgba(254, 200, 216));
    width: 100%;
}

.trans-l-p {
    height: 200px;
    background-image: linear-gradient(to bottom,rgba(255, 223, 211), rgba(224, 187, 228));
    width: 100%;
}

.trans-p-la {
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(224, 187, 228), rgba(254, 200, 216));
    width: 100%;
}

.trans-c-l {
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(254, 200, 216), rgba(255, 223, 211));
    width: 100%;
}

.container-cotton {
    background-color: #FEC8D8;
    padding: 16% 16%;
}

.container-cotton p{
    font-size: 25px;
}

.container-cotton font{
    font-size: 120px;
    margin-right: 10px;
    font-weight: 900;
    color: white;
}

.clock-holder {
    margin: 60px 0;
}

.container-lum {
    background-color: #FFDFD3;
    padding: 16% 8%;
    position: relative;
}

.bori {
    height: 400px;
    width: 400px;
    margin-left: 70%;
    
}

.container-lum video {
    margin-top: -200px;
}

.love {
    height: 150px;
    width: 400px;
    position: absolute;
    left: 37%;
    top: 40%;
    transform: rotate(-20deg);
}

.container-lum p {
    font-size: 30px;
}

.container {
    padding: 16% 16%;
}

.container p{
    font-size: 25px;
}

.card {
    height: 350px;
    width: 250px;
    background-color: #957DAD;
    color: white;
    padding: 40px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
}

.card.fade-out {
    opacity: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.card h2{
    width: fit-content;
    font-size: 50px;
    display: none;
}

.card p{
    display: none;
}

.card font {
    margin-top: 120px;
    display: block;
    font-size: 80px;
    text-align: center;
}

.card.show font{
    display: none;
}

.card.show p, .card.show h2{
    display: block;
}

.container-lavender {
    background-color: #FEC8D8;
    padding: 16%;
}

.birthday-wishes {
    text-align: justify;
}

.cake {
    width: 70%;
    height: 400px;
    margin-left: 15%;
}
